@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(./Animated\ Shape.svg);
  background-size: cover;
  background-position: center;
  color: #fff;
  overflow: hidden;
}

/* Sidebar Menu */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background: #ffffff12;
  backdrop-filter: blur(5px);
  box-shadow: 8px 0px 9px 0px #00000014;
  overflow-y: auto;
  transition: width 0.3s ease, padding 0.3s ease;
  padding: 20px 10px 20px 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 999;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu.open {
  width: 200px;
  padding: 20px;
}

.menu:hover {
  width: 200px;
}

.menu:hover li span:nth-child(2) {
  display: block;
  opacity: 1;
}

/* Menu List Items */
.menu-content li {
  list-style: none;
  border-radius: 0px 50px 50px 0;
  transition: background 0.3s;
  margin-bottom: 20px;
}

.menu-content li:hover {
  background: #0c0c0c;
}

.menu-content li span:nth-child(2) {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menu:hover li span:nth-child(2) {
  display: block;
  opacity: 1;
}

/* Menu Links */
a {
  text-decoration: none;
  color: rgb(213, 213, 213);
  display: flex;
  align-items: center;
  font-family: 'Calibri', sans-serif;
  font-weight: bold;
}

/* Icon Styling */
.material-symbols-outlined {
  padding: 10px;
  font-size: 25px;
  margin-right: 10px;
  border-radius: 50%;
  background: #0c0c0c;
}

/* Page Sections */
.section {
  display: none;
  font-size: 18px;
}

.section.active {
  display: block;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: auto;
  }

  .menu {
    width: 100px;
    padding: 20px 5px;
  }

  .menu:hover {
    width: 180px;
  }

  .menu:hover ~ .container {
    margin-left: 180px;
  }

  .row {
    flex-direction: column;
  }

  .row > .form-group {
    min-width: 100%;
  }

  .menu-content li span:nth-child(2) {
    display: none;
  }

  .menu:hover .menu-content li span:nth-child(2) {
    display: block;
    opacity: 1;
  }
}
